services:
  marstack:
    build:
      dockerfile: Dockerfile
      context: .
    restart: always
    ports:
      - "80:8000"
    environment:
      - LOG_LEVEL=info
      - APP_TIMEZONE=Europe/Berlin
